:root{
    --bs-nav:rgb(33, 37, 41);
}
body{
    background: url(../img/uslugeback.jpg) fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial,Helvetica,sans-serif;
    width:100vw;
    overflow-x: hidden;
}
.flex{
    display: flex;
    justify-content: center;
}
.db{
    display: block;
}
.nomag{
    margin: 0;
}
.justify{
    text-align: justify;
}
.nav-item a {
    position: relative;
}
.nav-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 2px solid red;
    transition: 0.4s;
}
.nav-item a:hover:after {
    width: 100%;
}
.fixed-top.scrolled1 {
    background: rgb(33,37,41) !important;
    transition: 800ms linear;
}
.navtrans{
    background: rgba(33,37,41,0.7);
}
.navlogo{
    width: 152px;
    height: 121px;
}
@media screen and (max-width: 768px){
    .navbar{
        width:100vw;
    }
    .navlogo{
        width: 100px;
        height: 80px;
    }
    #mynav ul > li{
        display: flex;
        justify-content: center;
    }
    .navbar-collapse{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        background: rgba(33,37,41,0.9);
    }
    .card{
        margin-bottom: 20px;
    }
}
.navlogo.scrolled2{
    width: 108px;
    height: 86px;
    transition: 800ms linear;
}
.navmag{
    margin: 0 20px;
}
.navmag a{
    letter-spacing:0.1em;
}
header{
    background: url(../img/header.jpg) fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.header{
    color: white;
    padding-top: 8%;
}
.head-wrap{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.head, .head2{
    font-weight: bold;
    text-shadow: 3px 3px 6px #000000;
}
.head{
    font-size: 60px;
}
.head2{
    font-size: 40px;
}
.logo-wrap{
    display:flex;
    justify-content: center;
    animation: logo 3s linear infinite;
}
.head-logo{
    height: auto;
    width: 80%;
}
@keyframes logo{
    0%{
        position: relative;
        top:0;
    }
    25%{
        position: relative;
        top: -20px;
    }
    50%{
        position: relative;
        top: 0;
    }
    75%{
        position: relative;
        top: 20px;
    }
    100%{
        position: relative;
        top: 0;
    }
}
section{
    padding: 50px 0;
}
#onama, #usluge, #kontakt{
    text-align: center;
}
#onama{
    background: #f8f8f8;
}
#onama h2, #usluge h2, #kontakt h2, #park h2{
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
#onama h2, #kontakt h2, #park h2{
    text-shadow: 1px 1px 3px #000000;
    color: var(--bs-nav);
}
#onama img{
    width: 100%;
    height: auto;
}
.divider{
    size: 5px;
    background-color: red;
    width: 25%;
    display: block;
    margin: 20px auto 40px auto;
}
#usluge h2{
    color: white;
    text-shadow: 3px 3px 6px #000000;
}
#usluge h4, #kontakt h4{
    font-weight: bold;
    margin-bottom: 20px;
}
.card-body{
    text-align: left;
}
.card-body li{
    list-style-type: none;
    margin: 10px 0px;
}
.famag{
    margin-right: 10px;
}
#brojac{
    background: red;
    text-align: center;
    color: white;
}
#brojac p{
    font-weight: bold;
    letter-spacing: .2em;
}
.brojevi{
    font-size: 40px;
}
iframe{
    margin-bottom: 50px;
}
form{
    text-align: left;
}
.textarea{
    width: 100%;
    height: auto;
}
#kontakt{
    background: #f8f8f8;
}
#kontakt li{
    list-style-type: none;
    margin-bottom: 10px;
    text-align: left;
}
#kontakt h4{
    letter-spacing: 0.1em;
    text-shadow: 1px 1px 2px #000000;
}
footer{
    background:var(--bs-nav);
    padding: 20px 0;
    color: white;
    text-align: center;
    letter-spacing: 0.1em;
}
.btt{
    display: none;
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 50%;
    background: var(--bs-nav);
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.btt.scrolled3{
    display: block;
    transition: 800ms linear;
}
.btt a, .btt a:active, .btt a:link{
    color: red;
}
.btt:hover{
    background: rgba(33,37,41,0.7);
}
#park{
    background: #f8f8f8;
    text-align: center;
}
.acc-img{
    width: 100%;
    height: 300px;
}
.park-mg{
    margin-bottom: 20px;
}